
  <div class="preloader"></div>
  
    <! -- ******************** MASTHEAD SECTION ******************** -->  
  <main id="top" class="masthead" role="main">
    <div class="container">
      <!-- <div class="logo"> <a href="index.html#"><img src="assets/logo.png" alt="logo"></a>
      </div> -->
 
      <h1>About You</h1>
 
      <div class="row">
        <div class="col-md-6 col-sm-12 col-md-offset-3 subscribe">
          <form class="form-horizontal" role="form" action="/welcome/submit_info" style="text-align: left;" id="subscribeForm" method="POST">
						<div class="form-group">
              <div class=" form-group col-md-4 col-md-offset-0">
  							<label for="sam_text_input">First Name</label>
  							<input class="form-control input-sm" name="first_name" type="text" id="first_name" required="required" />
              </div>
              <div class="col-md-4 ">
                <label for="sam_text_input">Last Name</label>
                <input class="form-control input-sm" name="last_name" type="text" id="last_name" required="required" />
              </div>
						</div>
						<div class="form-group">
							<label for="sam_text_area">Type of Work that Interests You</label>
							<textarea class="form-control input-lg" name="sam_text_area" id="sam_text_area" required="required"></textarea>
						</div>
						<div class="form-group">
							<label for="sam_select">Years of Experience</label><br>
							<select name="sam_select" id="sam_select" required="required">
                <option style="color: black;" disabled selected>Choose One</option>
								<option value="0-1" style="color: black;">Less than 1 Year</option>
								<option value="1-2" style="color: black;">1-3 Years</option>
								<option value="3+" style="color: black;">More than 3 Years</option>
							</select>
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="sam_checkbox_1" value="true" />
									Language 1
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="sam_checkbox_2" value="true"  />
									Language 2
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="sam_checkbox_3" value="true"  />
									Language 3
								</label>
							</div>
						</div>
						
						<div>
							<button type="submit" class="btn btn-success btn-lg">Finish!</button>
						</div>
          </form>
          <span id="result" class="alertMsg"></span> </div>
        </div>
    </div><! --/container -->
  </main><! --/main -->
 
<script>


 $(function() {
    $('.scrollto, .gototop').bind('click',function(event){
     var $anchor = $(this);
     $('html, body').stop().animate({
         scrollTop: $($anchor.attr('href')).offset().top
          }, 1500,'easeInOutExpo');
     event.preventDefault();
      });
  });
        

</script>
